*.vue   text eol=lf
*.html  text eol=lf
*.ts    text eol=lf
*.js    text eol=lf
*.jsx   text eol=lf
*.tsx   text eol=lf
*.json  text eol=lf
*.md    text eol=lf
*.yml   text eol=lf
*.yaml  text eol=lf
*.css   text eol=lf
*.less  text eol=lf